<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ .Title | plainify}},
    "name": "{{ .Title | plainify }}",
    "description": {{ with .Description | plainify }}{{ . }}{{ else }}{{ .Summary | plainify  }}{{ end -}},
    "keywords": [
      {{- if .Params.keywords }}
      {{ range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
      {{- else }}
      {{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
      {{- end }}
    ],
    "articleBody": {{ .Content | safeJS | htmlUnescape | plainify }},
    "wordCount" : "{{ .WordCount }}",
    "inLanguage": {{ .Language.Lang | default "en-us" }},
    {{ if .Params.image -}}
    "image":
      {{- if fileExists (add `assets/` .Params.image) -}}
      {{- $img:= resources.Get (.Params.image) -}}
      {{- $img | absLangURL -}}
      {{- end -}}
    {{ end }}
    "datePublished": {{ .PublishDate }},
    "dateModified": {{ .Lastmod }},
    {{- with (.Params.author | default site.Params.author) }}
    "author": {
      "@type": "Person",
      "name": {{ . }}
    }
    {{- end }}
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ .Permalink | safeHTML }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ site.Title }}
    }
  }
  </script>